.navbar {
    background-color: var(--bs-body-bg);
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 1rem
}

#responsive-navbar-nav {
    justify-content: right;
}

.nav-item {
    margin: 10px 1ch;
}